<?xml version='1.1' encoding='UTF-8'?>
<maven2 plugin="maven-plugin@3.10">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <reporters/>
  <displayName>gs-multi-module</displayName>
  <version>0.0.3-SNAPSHOT</version>
  <packaging>pom</packaging>
  <relativePath></relativePath>
  <dependencies>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-release-plugin</artifactId>
      <version>2.4.2</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.jacoco</groupId>
      <artifactId>jacoco-maven-plugin</artifactId>
      <version>0.7.9</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-parent</artifactId>
      <version>2.1.6.RELEASE</version>
      <plugin>false</plugin>
    </dependency>
  </dependencies>
  <children>
    <hudson.maven.ModuleName>
      <groupId>com.example</groupId>
      <artifactId>gs-multi-module-library</artifactId>
    </hudson.maven.ModuleName>
    <hudson.maven.ModuleName>
      <groupId>com.example</groupId>
      <artifactId>gs-multi-module-application</artifactId>
    </hudson.maven.ModuleName>
  </children>
</maven2>